.trivia-generator-container {
  flex-direction: column;
}

.inputs-container {
  width: 60vw;
  padding: 10px;
  flex-direction: column;
}

.input {
  width: 100%;
}

.input-label {
  padding-right: 1rem;
}

.selector-container {
  width: 100%;
}

.dropdown {
  width: 100%;
}